.aider*
node_modules
websync-data.json
dist
job_history.json
.ssh/*
.rsa
.pub
data/.ssh/websync_id_rsa.pub
data/*
data/.ssh/websync_id_rsa
data/.ssh/known_hosts
data/.ssh/known_hosts.old
.gitignore
.DS_Store